extends ../../layout

block title
	| 設定

block assets
	script(src='/resources/desktop/scripts/page/i/settings.js')
	link(rel='stylesheet', href='/resources/desktop/styles/page/i/settings.css')

block body
	main(role='main')
		nav.nav
			ul
				li(data-ref='profile')
					i.fa.fa-user
					| プロフィール
				li(data-ref='icon')
					i.fa.fa-camera-retro
					| アイコン
				li(data-ref='home-layout')
					i.fa.fa-desktop
					| ホームデザイン
				li(data-ref='application')
					i.fa.fa-puzzle-piece
					| アプリケーション
				li(data-ref='credit')
					i.fa.fa-credit-card
					| クレジット
				li(data-ref='email')
					i.fa.fa-envelope-o
					| メールアドレス
				li(data-ref='logout')
					i.fa.fa-power-off
					| ログアウト
		div.contents
			div.profile(data-name='profile')
				form
					label
						h2.title 名前
						div.content
							input.ui-input-text(name='name', type='text', value=me.name, placeholder=me.name)
					label
						h2.title ひとことコメント
						div.content
							input.ui-input-text(name='comment', type='text', value=me.comment, placeholder=me.comment)
					label
						h2.title WebサイトURL
						div.content
							input.ui-input-text(name='url', type='url', value=me.url, placeholder=me.url)
					label
						h2.title 現在地
						div.content
							input.ui-input-text(name='location', type='text', value=me.location, placeholder=me.location)
					label
						h2.title BIO
						div.content
							textarea.ui-textarea(name='bio', placeholder=me.bio)= me.bio
					input.ui-button.submit-button(type='submit', value='アップデート')
			
			div.icon(data-name='icon')
				form.crop-form
					p アイコンに使用する部分を選択してください
					div.container
						div.preview
						div.buttons
							button.cancel.ui-button(type='button', role='button')
								i.fa.fa-ban
								| キャンセル
							button.ok.ui-button(type='submit', role='button')
								i.fa.fa-check
								| OK
				img.icon(src=me.iconUrl, alt='icon')
				button.select-from-local.ui-button.ui-waves-effect(type='button', role='button')
					i.fa.fa-upload
					| PCから画像を選択
				button.select-from-album.ui-button.ui-waves-effect(type='button', role='button')
					i.fa.fa-folder-open
					| アルバムから画像を選択
			
			div.home-layout(data-name='home-layout')
				img(src='/resources/images/home-design.svg', alt='customize')
				p
					a(href='/home/customize')
						| ホームをカスタマイズする
						i.fa.fa-chevron-right

			div.application(data-name='application')
				if apps != null && apps.length > 0
					ol.apps
						each app in apps
							li.app(data-app-id= app.id)
								div.icon-area
									a.icon-anchor
										img.icon(src= app.iconUrl, alt='icon')
								div.main
									a.name-anchor
										p.name= app.name
									p.description= app.description
									button.remove(role='button')
										i.fa.fa-trash
										| アンインストール
				else
					p#no-apps
						| インストールされているアプリはありません。
			
			div.credit(data-name='credit')
				div.main
					p.title
						| あなたの保有
						b ひまゴールド
						| :
					p.credit
						i.fa.fa-leaf
						= me.credit.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')

			div.email(data-name='email')
				p coming soon....

			div.logout(data-name='logout')
				a(href='/logout') ログアウト
