include ../content

mixin subPost(post)
	aside.sub-post(class!= attributes.class !== undefined ? attributes.class + ' ' + post.type : post.type
			title!= '#{post.createdAt}&#x0A;'
			data-id= post.id
			data-user-id= post.user.id)
		div.body
			div.main
				div.avatar-container
					a.avatar-anchor(href=config.url + '/' + post.user.screenName, title= post.user.comment != null ? post.user.comment : '@' + post.user.screenName)
						img.avatar(src=post.user.avatarUrl, alt='icon')
				div.header-and-content-container
					header
						h2.name
							a(href=config.url + '/' + post.user.screenName, target='_blank')= post.user.name
						if post.user.isVerified
							img.verified-icon(src= config.resourcesUrl + '/common/verified.png', alt='verified', title='認証済み')
						span.screen-name= post.user.screenName
						p.created-at
							a.time-anchor(href=config.url + '/' + post.user.screenName + '/' + post.id)
								time(datetime=post.createdAt, pubdate, data-display-type='relative')= post.createdAt
					div.content
						+content(post)
			div.replies(itemprop='comment')
				if post.replies != null && post.replies.length > 0
					each reply in post.replies
						+subPost(reply)
