div.misskey-home-widget#widget-my-status(data-widget-id='my-status', data-widget-name=locale.sites.desktop.pages.home.my_status_widget.name)
	-
		function comma(str) {
			return String(str).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
		}
	header
		a.avatar-anchor(href='/' + me.screenName)
			img.avatar(src= me.avatarUrl + '?size=64&quality=' + userSettings.displayImageQuality, alt='avatar')
		h1= me.name
	nav(role='navigation')
		table.status
			tr
				td: a.posts-anchor(href='/' + me.screenName)= comma(me.postsCount)
				td: a.following-anchor(href='/' + me.screenName + '/following')= comma(me.followingCount)
				td: a.followers-anchor(href='/' + me.screenName + '/followers')= comma(me.followersCount)
			tr
				th=locale.sites.desktop.pages.home.my_status_widget.posts
				th=locale.sites.desktop.pages.home.my_status_widget.following
				th=locale.sites.desktop.pages.home.my_status_widget.followers
