div.misskey-home-widget#widget-my-status(data-widget-id='my-status', data-widget-name=locale.sites.desktop.pages.home.my_status_widget.name)
	header
		a.avatar-anchor(href='/' + me.screenName)
			img.avatar(src= me.avatarUrl + '?size=64&quality=' + userSettings.displayImageQuality, alt='avatar')
		h1= me.name
	nav(role='navigation')
		table.status
			tr
				td: a(href='/' + me.screenName)= me.postsCount
				td: a(href='/' + me.screenName + '/following')= me.followingCount
				td: a(href='/' + me.screenName + '/followers')= me.followersCount
			tr
				th=locale.sites.desktop.pages.home.my_status_widget.posts
				th=locale.sites.desktop.pages.home.my_status_widget.following
				th=locale.sites.desktop.pages.home.my_status_widget.followers
