extends ../../base

block title
	| Misskey

block meta
	meta(name='description', content='A mini-blog sns.')
	meta(name='keywords', content='Misskey')
	meta(property='og:title', content='Misskey')
	meta(property='og:type', content='website')
	meta(property='og:description', content='A mini-blog sns.')
	meta(property='og:url', content=url)
	meta(property='og:image', content='')
	meta(property='og:site_name', content='Misskey')

block body
	header
		h1 Misskey
		p
			| A miniblog-based online social networking service.
			br
			a(href= config.urls.about) learn more
	main
		form#login
			h2
				| Account
			label
				input(name='screen-name'
					type='text'
					pattern='^[0-9A-Za-z\-]+$'
					placeholder='User name'
					autofocus
					required)
				i.fa.fa-at
			label
				input(name='password'
					type='password'
					placeholder='Password'
					required)
				i.fa.fa-lock
			button(type='submit')
				| Sign in
		a#new(href=config.urls.signup)
			i.fa.fa-pencil-square-o
			| Create account
