extends ../../base

block title
	| Misskey

block meta
	meta(name='description', content='A mini-blog sns.')
	meta(name='keywords', content='Misskey')
	meta(property='og:title', content='Misskey')
	meta(property='og:type', content='website')
	meta(property='og:description', content='A mini-blog sns.')
	meta(property='og:url', content=url)
	meta(property='og:image', content='')
	meta(property='og:site_name', content='Misskey')

block body
	main
		header
			div.kyoppie
				h1 Misskey
			div.yuppie
				p
					| A mini-blog sns. find your likes!!!
		div.body
			form#login-form
				h2
					| Account
				label
					i.fa.fa-at
					input#id(name='screen-name'
						type='text'
						pattern='^[0-9A-Za-z\-]+$'
						placeholder='User name'
						autocomplete='off'
						autofocus
						required)
				label
					i.fa.fa-lock
					input(name='password'
						type='password'
						placeholder='Password'
						autocomplete='off'
						required)
				button(type='submit')
					| Sign in
			a#new(href=config.urls.signup)
				i.fa.fa-pencil-square-o
				| Create account
