mixin user-message(message)
	if message.user.id == me.id
		li.talk.user(data-is-my-message='true')
			a(href= config.talkUrl + '/' + message.recipient.screenName)
				article
					img.avatar(src= message.recipient.avatarUrl + '?mini', alt='avatar')
					header
						h2= message.recipient.name
						span.screen-name= '@' + message.recipient.screenName
						time(datetime=message.createdAt, data-display-type='relative')= message.createdAt
					div.body
						p.text
							span.me あなた:
							= message.text
						if message.file
							img.image(src= message.file.url, alt='image')
	else
		- var unread = (message.user.id != me.id && !message.isRead);
		li.talk.user(
				data-is-my-message='false',
				data-is-unread!= unread.toString())
			a(href= config.talkUrl + '/' + message.user.screenName)
				article(style= unread ? {'background-image': 'url("' + config.resourcesUrl + '/desktop/pages/i/talks/unread.svg")'} : {})
					img.avatar(src= message.user.avatarUrl + '?mini', alt='avatar')
					header
						h2= message.user.name
						span.screen-name= '@' + message.user.screenName
						time(datetime=message.createdAt, data-display-type='relative')= message.createdAt
					div.body
						p.text= message.text
						if message.file
							img.image(src= message.file.url, alt='image')

mixin group-message(message)
	- var unread = (message.user.id != me.id && message.reads.indexOf(me.id) == -1);
	li.talk.group(
			data-is-my-message='false',
			data-is-unread!= unread.toString())
		a(href= config.talkUrl + '/:group/' + message.group.id)
			article(style= unread ? {'background-image': 'url("' + config.resourcesUrl + '/desktop/pages/i/talks/unread.svg")'} : {})
				i.fa.fa-users.mark
				img.icon(src= message.user.avatarUrl + '?mini', alt='icon')
				header
					h2= message.group.name
					span.members-count= message.group.members.length + '人の参加者'
					time(datetime=message.createdAt, data-display-type='relative')= message.createdAt
				div.body
					p.text= message.text
					if message.file
						img.image(src= message.file.url, alt='image')

mixin group-activity-base(message)
	- var unread = message.reads.indexOf(me.id) == -1;
	li.talk.group(
			data-is-my-message='false',
			data-is-unread!= unread.toString())
		a(href= config.talkUrl + '/:group/' + message.group.id)
			article(style= unread ? {'background-image': 'url("' + config.resourcesUrl + '/desktop/pages/i/talks/unread.svg")'} : {})
				i.fa.fa-users.mark
				img.icon(src= message.inviter.avatarUrl + '?mini', alt='icon')
				header
					h2= message.group.name
					span.members-count= message.group.members.length + '人の参加者'
					time(datetime=message.createdAt, data-display-type='relative')= message.createdAt
				div.body
					case message.type
						when 'group-send-invitation-activity'
							p.text
								b.invitee= message.invitee.name
								| を招待しました
						when 'group-member-join-activity'
							p.text
								b.joiner= message.joiner.name
								| が参加しました

mixin group-send-invitation-activity(message)
	+group-activity-base(message)

mixin group-member-join-activity(message)
	+group-activity-base(message)
