doctype html

html(lang='ja', dir='ltr')
	head(prefix='og: http://ogp.me/ns#')
		include ../../head
		meta(name='description', content='A mini-blog sns.')
		meta(name='keywords', content='Misskey')
		meta(property='og:title', content='Misskey')
		meta(property='og:type', content='website')
		meta(property='og:description', content='A mini-blog sns.')
		meta(property='og:url', content= config.url)
		meta(property='og:image', content='')
		meta(property='og:site_name', content='Misskey')
		title Misskey
	
	body
		main
			header
				h1 Misskey
				p
					| A mini-blog sns. find your likes!!!
			form#login-form(action='/login', method='get')
				h2
					| Account
				label
					i.fa.fa-at
					input.ui-input-text#id(name='screen-name'
						type='text'
						pattern='^[0-9A-Za-z_]+$'
						placeholder='User name'
						autocomplete='off'
						autofocus
						required)
				label
					i.fa.fa-lock
					input.ui-input-password(name='password'
						type='password'
						placeholder='Password'
						autocomplete='off'
						required)
				button.ui-button(type='submit')
					| Sign in
			p.info
				| Hey there! 現在、アカウントの作成はPCから行えます。
