mixin item(notification)
	div.notification(
			class= notification.type
			data-id= notification.id
			data-cursor= notification.cursor
			data-notification-type= notification.type)
		time(datetime=notification.createdAt, data-display-type='relative')= notification.createdAt
		div.main
			case notification.type
				when 'self-notification'
					p= notification.content.text
				when 'application'
					a.icon-anchor(href='/app/' + notification.app.screenName, rel='icon')
						img.icon(src=notification.app.iconUrl, alt='icon')
					div.text
						p
							i.fa.fa-info-circle
							span= notification.content.text
				when 'install-app'
					a.icon-anchor(href='/app/' + notification.content.app.screenName, rel='icon')
						img.icon(src=notification.content.app.iconUrl, alt='icon')
					div.text
						p
							i.fa.fa-plug
							| アプリがインストールされました:
							br
							a(href= '/app/' + notification.content.app.screenId)= notification.content.app.name
				when 'uninstall-app'
					a.icon-anchor(href='/app/' + notification.content.app.screenName, rel='icon')
						img.icon(src=notification.content.app.iconUrl, alt='icon')
					div.text
						p
							i.fa.fa-ban
							| アプリがアンインストールされました:
							br
							a(href= '/app/' + notification.content.app.screenId)= notification.content.app.name
				when 'follow'
					a.avatar-anchor(href='/' + notification.content.user.screenName, rel='avatar')
						img.avatar(src= notification.content.user.avatarUrl + '?size=48&quality=' + userSettings.displayImageQuality, alt='avatar')
					div.text
						p
							i.fa.fa-user-plus
							a(href= '/' + notification.content.user.screenName)= notification.content.user.name
				when 'repost'
					a.avatar-anchor(href='/' + notification.content.user.screenName, rel='avatar')
						img.avatar(src= notification.content.user.avatarUrl + '?size=48&quality=' + userSettings.displayImageQuality, alt='avatar')
					div.text
						p
							i.fa.fa-retweet
							a(href= '/' + notification.content.user.screenName)= notification.content.user.name
						a.post-preview(href= '/' + me.screenName + '/' + notification.content.post.id)= notification.content.post.text
				when 'like'
					a.avatar-anchor(href='/' + notification.content.user.screenName, rel='avatar')
						img.avatar(src= notification.content.user.avatarUrl + '?size=48&quality=' + userSettings.displayImageQuality, alt='avatar')
					div.text
						p
							if userSettings.enableSushi
								i.fa
									| 🍣
							else
								i.fa.fa-thumbs-o-up
							a(href= '/' + notification.content.user.screenName)= notification.content.user.name
						a.post-preview(href= '/' + me.screenName + '/' + notification.content.post.id)= notification.content.post.text
				when 'mention'
					a.avatar-anchor(href='/' + notification.content.post.user.screenName, rel='avatar')
						img.avatar(src= notification.content.post.user.avatarUrl + '?size=48&quality=' + userSettings.displayImageQuality, alt='avatar')
					div.text
						p
							i.fa.fa-reply
							a(href= '/' + notification.content.post.user.screenName)= notification.content.post.user.name
						a.post-preview(href= '/' + notification.content.post.user.screenName + '/' + notification.content.post.id)= notification.content.post.text
				when 'talk-user-message'
					a.avatar-anchor(href='/' + notification.content.message.user.screenName, rel='avatar')
						img.avatar(src= notification.content.message.user.avatarUrl + '?size=48&quality=' + userSettings.displayImageQuality, alt='avatar')
					div.text
						p
							i.fa.fa-comment-o
							a(href= '/' + notification.content.message.user.screenName)= notification.content.message.user.name
						p.message-preview= notification.content.message.text
				when 'bbs-thread-post'
					a.avatar-anchor(href='/' + notification.content.user.screenName, rel='avatar')
						img.avatar(src=notification.content.user.avatarUrl + '?size=48&quality=' + userSettings.displayImageQuality, alt='avatar')
					div.text
						p
							i.fa.fa-comment
							a(href= '/bbs/thread/' + notification.content.thread.id)= notification.content.thread.title
						a.post-preview(href= '/bbs/thread/' + notification.content.thread.id + '#post-' + notification.content.post.id)= notification.content.post.text
