extends ../layout

block vars
	- htmlSchema = 'http://schema.org/ProfilePage';

block title
	block title

block meta
	meta(name='description', content= user.comment != null ? user.comment : (user.name + 'さんのMisskeyプロフィール'))
	meta(name='keywords', content='Misskey,' + user.screenName)
	meta(property='og:title', content= user.name)
	meta(property='og:type', content='article')
	meta(property='og:description', content= user.name + 'さんのMisskeyプロフィール')
	meta(property='og:url', content= config.url + '/' + user.screenName)
	meta(property='og:image', content= user.avatarUrl)
	meta(property='og:site_name', content='Misskey')
	meta(property='twitter:card', content='summary')
	meta(property='twitter:site', content='@syuilo')
	meta(property='twitter:title', content= user.name + 'さんのMisskeyプロフィール')
	meta(property='twitter:description', content= user.comment != null ? user.comment : (user.name + 'さんのMisskeyプロフィール'))
	meta(property='twitter:image', content= user.avatarUrl)
	meta(property='twitter:url', content= config.url + '/' + user.screenName)

block assets
	script!= 'window.isMe = ' + isMe.toString() + '; window.isFollowing = ' + user.isFollowing.toString() + '; window.userId = "' + user.id + '";'
	block pageAssets

block body
	if isMe
		div#avatar-edit-form-back(role='presentation')
		form#avatar-edit-form
			h1
				i.fa.fa-picture-o
				| アイコンを編集
			div.main
				div.preview
					img.image(src=user.avatarUrl, alt='avatar')
				label.image
					input(name='image', type='file', accept='image/*')
				div.progress
					p.status
					progress(form='avatar-edit-form', value='0')
				input(type='hidden', name='trim-x')
				input(type='hidden', name='trim-y')
				input(type='hidden', name='trim-w')
				input(type='hidden', name='trim-h')
				input.submit.ui-button(type='submit', value!='更新 &#xf1d8;', disabled)
				button.cancel.ui-cancel-button(type='button') キャンセル

		div#header-image-edit-form-back(role='presentation')
		form#header-image-edit-form
			h1
				i.fa.fa-picture-o
				| ヘッダー画像を編集
			div.main
				div.preview
					img.image(src=user.bannerUrl, alt='header')
				label.image
					input(name='image', type='file', accept='image/*')
				div.progress
					p.status
					progress(form='header-image-edit-form', value='0')
				input(type='hidden', name='trim-x')
				input(type='hidden', name='trim-y')
				input(type='hidden', name='trim-w')
				input(type='hidden', name='trim-h')
				input.submit.ui-button(type='submit', value!='更新 &#xf1d8;', disabled)
				button.cancel.ui-cancel-button(type='button') キャンセル

	main(role='main')
		header(role='banner')
			div#header-data
				if isMe
					button#header-image-edit-button(title='ヘッダー画像を編集', role='button')
						i.fa.fa-picture-o
				div.bottom
					div.main
						div.names-area
							h1#name-area
								span#name(itemprop='name')= user.name
								if user.isVerified
									img.verified-icon(src='/resources/common/images/verified.png', alt='verified', title='認証済み')
							span#screen-name(itemprop='alternateName')= '@' + user.screenName
						table.count-table
							tr
								th Posts
								th Likes
								th Following
								th Followers
							tr
								td: a(href='/' + user.screenName)= user.postsCount
								td: a(href='/' + user.screenName + '/likes')= user.likesCount
								td: a(href='/' + user.screenName + '/followings')= user.followingsCount
								td: a(href='/' + user.screenName + '/followers')= user.followersCount
			nav#header-nav(role='navigation')
				div.main
					div#avatar-area
						a.avatar-anchor
							img#avatar(src=user.avatarUrl, alt='avatar', itemprop='image')
						div.comment-container
							p#comment
								if user.comment != null && user.comment != ""
									= user.comment
								else
									span.no-comment no comment
					ul#main-nav
						li(class= page == 'home' ? 'active' : '')
							a(href='/' + user.screenName)
								i.fa.fa-comment
								| Timeline
						li(class= page == 'profile' ? 'active' : '')
							a(href='/' + user.screenName + '/profile')
								i.fa.fa-newspaper-o
								| Profile
						li(class= page == 'followings' ? 'active' : '')
							a(href='/' + user.screenName + '/followings')
								i.fa.fa-heart
								| Following
						li(class= page == 'followers' ? 'active' : '')
							a(href='/' + user.screenName + '/followers')
								i.fa.fa-users
								| Followers
		div#contents
			block contents
