case file.type
	when 'file'
		li.item.file(
				data-selected='false'
				data-file-id= file.id
				data-mimetype= file.mimeType)
			div.context-menu
				ul
					li
						| 選択
					li
						| 開く
				ul
					li
						i.fa.fa-download
						| ダウンロード
				ul
					li
						i.fa.fa-cursor
						| 名前を変更
					li
						i.fa.fa-trash-o
						| 削除
			div.content(style= 'background-image: url(' + file.url + ');')
				p.name= file.name
	when 'folder'
		li.item.folder(
				data-selected='false'
				data-folder-id= file.id)
			div.context-menu
				ul
					li
						| 選択
					li
						| 開く
				ul
					li
						i.fa.fa-download
						| ダウンロード
				ul
					li
						i.fa.fa-i-cursor
						| 名前を変更
					li
						i.fa.fa-trash-o
						| 削除
			div.content
				p.name= file.name
