mixin user(user)
	li.user(
			data-id= user.id
			data-is-following!= user.isFollowing.toString()
			data-cursor= user.cursor)
		a.avatar-anchor(href= config.url + '/' + user.screenName)
			img.avatar(src= user.avatarThumbnailUrl)
		div.body
			header
				p.name= user.name
				p.screen-name= user.screenName
			p.comment= user.comment
		if login
			div.friend-form
				if me.id != user.id
					if user.isFollowing
						button.friend-button.following
							i.fa.fa-minus-circle
							span.text フォロー解除
					else
						button.friend-button.not-following
							i.fa.fa-minus-plus
							span.text フォローする
