extends ../../../layout
include ../../../common/views/post/smart/post

block title
	= user.name

block header
	= user.name

block content
	-
		function comma(str) {
			return String(str).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
		}

	main
		div#user
			div.banner(style={'background-image': "url(#{user.bannerUrl})"})
			div.body
				a.avatar-anchor(href=user.avatarUrl)
					img.avatar(src=user.avatarUrl + '?mini', alt='avatar')
				div.name-and-screenname-container
					h1.name= user.name
					p.screen-name= user.screenName
				p.comment= user.comment
				div.followers-and-following
					div
						p.caption Following
						a.count= comma(user.followingsCount)
					div
						p.caption Followers
						a.count= comma(user.followingsCount)
		div#timeline
			div.posts
				if timeline.length > 0
					each post in timeline
						+post(post)
				else
					p.empty
						| このユーザーはまだ何も投稿していません。
			if timeline.length > 0
				button.read-more
					i.fa.fa-sort-amount-desc
					p Read more...?
