mixin content(post)
	include ../../../../common/text-parser.pug
	case post.type
		when 'status'
		when 'reply'
			div.text!= parse(post.text)
			if post.files != null
				ol.photos
					each photo in post.files
						li.photo
							a(href= photo.url, target='_blank')
								if me !== null && userSettings.thumbnailyzeAttachedImageOfPost
									img.image.thumbnail(
										src= photo.thumbnailUrl,
										data-original-url= photo.url,
										alt= photo.name,
										title= photo.name)
								else
									img.image(src= photo.url,
										data-original-url= photo.url,
										alt= photo.name,
										title= photo.name)
