-
	function escapeHtml(text) {
		return text.replace(/&/g,'&amp;').replace(/>/g,'&gt;').replace(/</g,'&lt;');
	}
	
	function parse(text) {
		'use strict';
		if (text === null) {
			return null;
		}
		text = analyzeHashtags(analyzeMentions(escapeHtml(text).replace(/https?:\/\/[\w\/:%#\$&\?\(\)~\.=\+\-]+/g, function(url) {
			return '<a href="' + url + '" target="_blank" class="url">' + url + '</a>';
		}))).replace(/(\r\n|\r|\n)/g, '<br>');
		return text;
	}

	function analyzeMentions(text) {
		'use strict';
		return text.replace(/@([a-zA-Z0-9\-]+)/g, function(arg, screenName) {
			return '<a href="' + config.url + '/' + screenName + '" class="mention">@' + screenName + '</a>';
		});
	}

	function analyzeHashtags(text) {
		'use strict';
		return text.replace(/#(\S+)/g, function(arg, tag) {
			return '<a href="' + config.url + '/search/hashtag:' + tag + '" class="hashtag">#' + tag + '</a>';
		});
	}

mixin message(message)
	div(class= 'message ' + (message.user.id == me.id ? 'me' : 'otherparty')
			title= message.createdAt
			data-id= message.id
			data-cursor= message.cursor
			data-is-modified!= message.isContentModified.toString()
			data-is-read!= message.isRead.toString()
			data-is-deleted!= message.isDeleted.toString()
			data-user-id= message.user.id
			data-user-color= message.user.color)
		article
			a.avatar-anchor(href= config.url + '/' + message.user.screenName, title= message.user.comment)
				img.avatar(src= message.user.avatarUrl + '?mini', alt='avatar')
			div.content-container
				div.balloon
					if !message.isDeleted && (message.user.id == me.id)
						if message.isRead
							p.read 既読
						button.delete-button(role='button', title='メッセージを削除')
							img(src='/resources/desktop/pages/i/talk-widget/delete.png', alt='Delete')
					div.content
						if !message.isDeleted
							p.text!= parse(message.text)
							if message.file
								div.image
									img(src= message.file.url, alt='image')
						else
							p.is-deleted このメッセージは削除されました
				footer
					time(datetime= message.createdAt, data-display-type='relative')= message.createdAt
					if message.isContentModified
						i.fa.fa-pencil.is-modified
