include ../content
include ./subPost

mixin post(post)
	if post.type == 'repost'
		+core(post.post, true, post)
	else
		+core(post, false)

mixin core(post, isRepost, repost)
	- var login = (me != null);
	- var isHaveReplies = (post.repliesCount > 0);
	- var isTalk = (post.inReplyToPost !== null && post.inReplyToPost.inReplyToPost !== null);
	article.post(
			class                   = isRepost ? 'repost ' + post.type : post.type
			lang                    = post.user.lang
			itemscope
			itemtype                = 'http://schema.org/BlogPosting'
			data-id                 = post.id
			data-cursor             = isRepost ? repost.cursor : post.cursor
			data-type               = post.type
			data-is-liked          != login ? post.isLiked.toString() : null
			data-is-reposted       != login ? post.isReposted.toString() : null
			data-is-have-replies   != isHaveReplies.toString()
			data-is-talk           != isTalk.toString())
		if isTalk
			i.fa.fa-ellipsis-v.talk-ellipsis
		if isHaveReplies
			i.fa.fa-ellipsis-v.replies-ellipsis
		if post.inReplyToPost
			+subPost(post.inReplyToPost)(class='reply-source')
		if isRepost
			div.repost-information
				p.info
					a.avatar-anchor(href=config.url + '/' + repost.user.screenName)
						img.avatar(src=repost.user.avatarUrl + '?mini', alt='avatar')
					span.text
						i.fa.fa-retweet
						| Reposted by 
						a.name(href=config.url + '/' + repost.user.screenName)= repost.user.name
		div.main
			div.avatar-area
				a.avatar-anchor(href=config.url + '/' + post.user.screenName)
					img.avatar(src=post.user.avatarUrl + '?mini', alt='avatar')
			header.header
				div.author(itemprop='author')
					a.user-name(href=config.url + '/' + post.user.screenName)= post.user.name
					if post.user.isVerified
						img.verified-icon(src='/resources/common/images/verified.png', alt='verified', title='認証済み')
					span.screen-name= post.user.screenName
				a.time-anchor(href=config.url + '/' + post.user.screenName + '/' + post.id, itemprop='url')
					time(datetime=post.createdAt, itemprop='dateCreated', pubdate, data-display-type='relative')= post.createdAt
			div.content(itemprop='articleBody')
				+content(post)
		footer.footer
			if login
				ul.actions
					li.reply
						button.reply-button(title='返信')
							i.fa.fa-reply
						a.count(href=config.url + '/' + post.user.screenName + '/' + post.id)
							= post.repliesCount != 0 ? post.repliesCount : ''
					if me.id != post.userId
						li.repost
							button.repost-button(title= post.isReposted ? 'シェアを取り消し' : 'シェア')
								i.fa.fa-retweet
							a.count(href=config.url + '/' + post.user.screenName + '/' + post.id + '/reposts')
								= post.repostsCount != 0 ? post.repostsCount : ''
					li.like
						button.like-button(title= post.isLiked ? 'Unlike' : 'Like')
							i.fa.fa-star
						a.count(href=config.url + '/' + post.user.screenName + '/' + post.id + '/likes')
							= post.likesCount != 0 ? post.likesCount : ''
