include ../content

mixin subPost(post)
	aside.sub-post(class!= attributes.class !== undefined ? attributes.class + ' ' + post.type : post.type
			data-id= post.id)
		a.avatar-anchor(href='/' + post.user.screenName)
			img.avatar(src=post.user.avatarThumbnailUrl, alt='avatar')
		header
			if userSettings.displayUserNameInPost
				a.name(href='/' + post.user.screenName)= post.user.name
				if post.user.isVerified
					img.verified-icon(src= config.resourcesUrl + '/common/verified.png', alt='verified', title='認証済み')
			if userSettings.displayUserScreenNameInPost
				p.screen-name= post.user.screenName
			if userSettings.displayCreatedAtInPost
				a.time-anchor(href='/' + post.user.screenName + '/' + post.id)
					time(datetime=post.createdAt, pubdate, data-display-type='relative')= post.createdAt
		div.main
			+content(post)
