include ../content

mixin subPost(post)
	aside.sub-post(class!= attributes.class !== undefined ? attributes.class + ' ' + post.type : post.type
			data-id= post.id)
		a.avatar-anchor(href=config.url + '/' + post.user.screenName)
			img.avatar(src=post.user.avatarUrl + '?mini', alt='avatar')
		header
			a.name(href=config.url + '/' + post.user.screenName)= post.user.name
			if post.user.isVerified
				img.verified-icon(src='/resources/common/images/verified.png', alt='verified', title='認証済み')
			span.screen-name= post.user.screenName
			a.time-anchor(href=config.url + '/' + post.user.screenName + '/' + post.id)
				time(datetime=post.createdAt, pubdate, data-display-type='relative')= post.createdAt
		div.main
			+content(post)
