extends ../../../ui

block title
	=locale.sites.desktop.pages.i.settings.page_title

block content
	main(role='main')
		nav.nav
			ul
				li(data-ref='profile')
					i.fa.fa-user
					=locale.sites.desktop.pages.i.settings.profile
				li(data-ref='web')
					i.fa.fa-desktop
					=locale.sites.desktop.pages.i.settings.web
				li(data-ref='application')
					i.fa.fa-puzzle-piece
					| Applications
				li(data-ref='credit')
					i.fa.fa-credit-card
					| Credit
				li(data-ref='email')
					i.fa.fa-envelope-o
					| E-Mail
				li(data-ref='logout')
					i.fa.fa-power-off
					| Sign out
		div.contents
			div.profile(data-name='profile')
				label.avatar
					h2.title
						i.fa.fa-camera-retro
						=locale.sites.desktop.pages.i.settings.user_avatar
					img.avatar(src=me.avatarUrl, alt='avatar')
					button.select-from-local.ui-waves-effect(type='button')
						i.fa.fa-upload
						=locale.sites.desktop.pages.i.settings.select_image_from_pc
					button.select-from-album.ui-waves-effect(type='button')
						i.fa.fa-folder-open
						=locale.sites.desktop.pages.i.settings.select_image_from_album
				label
					h2.title
						i.fa.fa-user
						=locale.sites.desktop.pages.i.settings.user_name
					div.content
						input.profile.name(name='name', type='text', value=me.name, placeholder=me.name, required)
				label
					h2.title
						i.fa.fa-comment
						=locale.sites.desktop.pages.i.settings.user_comment
					div.content
						input.profile.comment(name='comment', type='text', value=me.comment, placeholder=me.comment)
				label
					h2.title
						i.fa.fa-globe
						=locale.sites.desktop.pages.i.settings.user_website_url
					div.content
						input.profile.url(name='url', type='url', value=me.url, placeholder=me.url)
				label
					h2.title
						i.fa.fa-map-marker
						=locale.sites.desktop.pages.i.settings.user_location
					div.content
						input.profile.location(name='location', type='text', value=me.location, placeholder=me.location)
				button.profile.submit-button(type='submit')
					i.fa.fa-check
					=locale.sites.desktop.pages.i.settings.update

			div.web(data-name='web')
				section
					h1=locale.sites.desktop.pages.i.settings.general
					label.checkbox
						input(type='checkbox', name='display-user-name-in-post', checked= userSettings.displayUserNameInPost)
						p=locale.sites.desktop.pages.i.settings.display_user_name_in_post
					label.checkbox
						input(type='checkbox', name='display-user-screen-name-in-post', checked= userSettings.displayUserScreenNameInPost)
						p=locale.sites.desktop.pages.i.settings.display_user_screen_name_in_post
					label.checkbox
						input(type='checkbox', name='display-created-at-in-post', checked= userSettings.displayCreatedAtInPost)
						p=locale.sites.desktop.pages.i.settings.display_created_at_in_post
					label.checkbox
						input(type='checkbox', name='display-actions-in-post', checked= userSettings.displayActionsInPost)
						p=locale.sites.desktop.pages.i.settings.display_actions_in_post
					label.checkbox
						input(type='checkbox', name='confirmation-when-repost', checked= userSettings.confirmationWhenRepost)
						p=locale.sites.desktop.pages.i.settings.confirmation_when_repost
					label.checkbox
						input(type='checkbox', name='enable-url-preview-in-post', checked= userSettings.enableUrlPreviewInPost)
						p=locale.sites.desktop.pages.i.settings.enable_url_preview_in_post
					label.checkbox
						input(type='checkbox', name='thumbnailyze-attached-image-of-post', checked= userSettings.thumbnailyzeAttachedImageOfPost)
						p=locale.sites.desktop.pages.i.settings.thumbnailyze_attached_image_of_post
				section
					h1=locale.sites.desktop.pages.i.settings.home
					a.home-customize(href='/i/home-customize')
						=locale.sites.desktop.pages.i.settings.customize_home
						i.fa.fa-cog
					label.checkbox
						input(type='checkbox', name='enable-notification-sound-when-receiving-new-post', checked= userSettings.enableNotificationSoundWhenReceivingNewPost)
						p=locale.sites.desktop.pages.i.settings.enable_notification_sound_when_receiving_new_post
					label.checkbox
						input(type='checkbox', name='read-timeline-automatically', checked= userSettings.readTimelineAutomatically)
						p=locale.sites.desktop.pages.i.settings.read_timeline_automatically
				section
					h1=locale.sites.desktop.pages.i.settings.advanced
					label.checkbox
						input(type='checkbox', name='enable-sushi', checked= userSettings.enableSushi)
						p=locale.sites.desktop.pages.i.settings.enable_sushi

			div.application(data-name='application')
				if apps != null && apps.length > 0
					ol.apps
						each app in apps
							li.app(data-app-id= app.id)
								div.icon-area
									a.icon-anchor
										img.icon(src= app.iconUrl, alt='icon')
								div.main
									a.name-anchor
										p.name= app.name
									p.description= app.description
									button.remove(role='button')
										i.fa.fa-trash
										| アンインストール
				else
					p#no-apps
						| No application installed

			div.credit(data-name='credit')
				div.main
					p.title
						| あなたの保有
						b ひまゴールド
						| :
					p.credit
						i.fa.fa-leaf
						= me.credit.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')

			div.email(data-name='email')
				p coming soon....

			div.logout(data-name='logout')
				a(href='/logout') ログアウト
