extends ../../../layout

block title
	| 設定

block body
	main(role='main')
		nav.nav
			ul
				li(data-ref='profile')
					i.fa.fa-user
					| Profile
				li(data-ref='home-layout')
					i.fa.fa-desktop
					| Home design
				li(data-ref='application')
					i.fa.fa-puzzle-piece
					| Applications
				li(data-ref='credit')
					i.fa.fa-credit-card
					| Credit
				li(data-ref='email')
					i.fa.fa-envelope-o
					| E-Mail
				li(data-ref='logout')
					i.fa.fa-power-off
					| Sign out
		div.contents
			div.profile(data-name='profile')
				.form.public-profile
					label.avatar
						h2.title
							i.fa.fa-camera-retro
							| Avatar
						form.crop-form
							p アイコンに使用する部分を選択してください
							div.container
								div.preview
								div.buttons
									button.no-crop(type='button')
										| クロップせずに使用
									button.ok(type='submit')
										i.fa.fa-check
										| OK
									button.cancel(type='button')
										i.fa.fa-ban
										| キャンセル
						img.avatar(src=me.avatarUrl, alt='avatar')
						button.select-from-local.ui-waves-effect(type='button')
							i.fa.fa-upload
							| Select form your PC
						button.select-from-album.ui-waves-effect(type='button')
							i.fa.fa-folder-open
							| Select from album
					label
						h2.title
							i.fa.fa-user
							| Name
						div.content
							input(name='name', type='text', value=me.name, placeholder=me.name, required)
					label
						h2.title
							i.fa.fa-comment
							| Comment
						div.content
							input(name='comment', type='text', value=me.comment, placeholder=me.comment)
					label
						h2.title
							i.fa.fa-globe
							| Website URL
						div.content
							input(name='url', type='url', value=me.url, placeholder=me.url)
					label
						h2.title
							i.fa.fa-map-marker
							| Location
						div.content
							input(name='location', type='text', value=me.location, placeholder=me.location)
					button.submit-button(type='submit')
						i.fa.fa-check
						| Update
			
			div.home-layout(data-name='home-layout')
				img(src='/resources/desktop/pages/i/settings/home-design.svg', alt='customize')
				p
					a(href='/i/home-customize')
						| ホームをカスタマイズする
						i.fa.fa-chevron-right

			div.application(data-name='application')
				if apps != null && apps.length > 0
					ol.apps
						each app in apps
							li.app(data-app-id= app.id)
								div.icon-area
									a.icon-anchor
										img.icon(src= app.iconUrl, alt='icon')
								div.main
									a.name-anchor
										p.name= app.name
									p.description= app.description
									button.remove(role='button')
										i.fa.fa-trash
										| アンインストール
				else
					p#no-apps
						| インストールされているアプリはありません。
			
			div.credit(data-name='credit')
				div.main
					p.title
						| あなたの保有
						b ひまゴールド
						| :
					p.credit
						i.fa.fa-leaf
						= me.credit.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')

			div.email(data-name='email')
				p coming soon....

			div.logout(data-name='logout')
				a(href='/logout') ログアウト
