extends ../../../ui

block title
	| 設定

block content
	main(role='main')
		nav.nav
			ul
				li(data-ref='profile')
					i.fa.fa-user
					| Profile
				li(data-ref='web')
					i.fa.fa-desktop
					| Web
				li(data-ref='application')
					i.fa.fa-puzzle-piece
					| Applications
				li(data-ref='credit')
					i.fa.fa-credit-card
					| Credit
				li(data-ref='email')
					i.fa.fa-envelope-o
					| E-Mail
				li(data-ref='logout')
					i.fa.fa-power-off
					| Sign out
		div.contents
			div.profile(data-name='profile')
				label.avatar
					h2.title
						i.fa.fa-camera-retro
						| Avatar
					img.avatar(src=me.avatarUrl, alt='avatar')
					button.select-from-local.ui-waves-effect(type='button')
						i.fa.fa-upload
						| Select from your PC
					button.select-from-album.ui-waves-effect(type='button')
						i.fa.fa-folder-open
						| Select from album
				label
					h2.title
						i.fa.fa-user
						| Name
					div.content
						input.profile.name(name='name', type='text', value=me.name, placeholder=me.name, required)
				label
					h2.title
						i.fa.fa-comment
						| Comment
					div.content
						input.profile.comment(name='comment', type='text', value=me.comment, placeholder=me.comment)
				label
					h2.title
						i.fa.fa-globe
						| Website URL
					div.content
						input.profile.url(name='url', type='url', value=me.url, placeholder=me.url)
				label
					h2.title
						i.fa.fa-map-marker
						| Location
					div.content
						input.profile.location(name='location', type='text', value=me.location, placeholder=me.location)
				button.profile.submit-button(type='submit')
					i.fa.fa-check
					| Update
			
			div.web(data-name='web')
				section
					h1 General
					label.checkbox
						input(type='checkbox', name='enable-url-preview-in-post', checked= userSettings.enableUrlPreviewInPost)
						p Enable URL preview in a post
				section
					h1 Home
					a.home-customize(href='/i/home-customize')
						| Customize home
						i.fa.fa-cog
					label.checkbox
						input(type='checkbox', name='enable-notification-sound-when-receiving-new-post', checked= userSettings.enableNotificationSoundWhenReceivingNewPost)
						p Enable the notification sound when receiving a new post
				section
					h1 Advanced
					label.checkbox
						input(type='checkbox', name='enable-sushi', checked= userSettings.enableSushi)
						p Enable Sushi (Environment-dependent)

			div.application(data-name='application')
				if apps != null && apps.length > 0
					ol.apps
						each app in apps
							li.app(data-app-id= app.id)
								div.icon-area
									a.icon-anchor
										img.icon(src= app.iconUrl, alt='icon')
								div.main
									a.name-anchor
										p.name= app.name
									p.description= app.description
									button.remove(role='button')
										i.fa.fa-trash
										| アンインストール
				else
					p#no-apps
						| インストールされているアプリはありません。
			
			div.credit(data-name='credit')
				div.main
					p.title
						| あなたの保有
						b ひまゴールド
						| :
					p.credit
						i.fa.fa-leaf
						= me.credit.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')

			div.email(data-name='email')
				p coming soon....

			div.logout(data-name='logout')
				a(href='/logout') ログアウト
