meta(charset='utf-8')
meta(name='robots', content='all')
meta(name='application-name', content='Misskey')
meta(name='theme-color', content= config.themeColor)
meta(name='coverage', content='worldwide')
meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
link(rel='shortcut icon', href='/favicon.ico')
link(rel='icon', href='/favicon.ico')
// link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(rel='stylesheet', href= stylePath)
script!= 'var CONFIG = config = ' + JSON.stringify(config) + '; Object.freeze(CONFIG);'
script!= 'var LOGIN = ' + login.toString() + '; Object.freeze(LOGIN);'
script!= 'var ME = me = ' + JSON.stringify(me) + '; Object.freeze(ME);'
script!= 'var USER_SETTINGS = ' + JSON.stringify(userSettings) + '; Object.freeze(USER_SETTINGS);'
script(src= scriptPath)
