doctype html

- var htmlSchema = 'http://schema.org/WebPage';

block vars

html(
		lang='ja',
		dir='ltr',
		itemscope,
		itemtype= htmlSchema)

	head(prefix='og: http://ogp.me/ns#')
		include ./head
		
		block meta
		
		title
			block title
		
		block assets
	
	body
		header#misskey-header
			button#open-misskey-nav-button(role='button'): i.fa.fa-bars
			h1
				block header
			block action
		nav#misskey-nav
			div.slidemenu-body
				div.slidemenu-content
					a.me(href=config.url + '/' + me.screenName)
						img.avatar(src=me.avatarThumbnailUrl, alt='avatar')
						p.name= me.name
					div.links
						ul
							li.post-new: a(href=config.url + '/i/post-new')
								i.icon.fa.fa-pencil-square-o
								| Post
								i.angle.fa.fa-angle-right
						ul
							li.home: a(href=config.url)
								i.icon.fa.fa-home
								| Home
								i.angle.fa.fa-angle-right
							li.mentions: a(href=config.url + '/i/mentions')
								i.icon.fa.fa-at
								| Mentions
								i.angle.fa.fa-angle-right
							li.notifications: a(href=config.url + '/i/notifications')
								i.icon.fa.fa-bell-o
								| Notifications
								i.angle.fa.fa-angle-right
							li.talks: a(href=config.talkUrl)
								i.icon.fa.fa-comments
								| Talks
								i.angle.fa.fa-angle-right
						ul
							li.settings: a(href=config.url + '/i/settings')
								i.icon.fa.fa-cog
								| Settings
								i.angle.fa.fa-angle-right
					p.manager
						| このセッションは
						b= workerId
						| が担当しました

		div#misskey-main
			block content
