doctype html

- var htmlSchema = 'http://schema.org/WebPage';

block vars

!= '<!-- このセッションは ' + workerId + ' が担当しました -->'

html#misskey(
		lang='ja',
		dir='ltr',
		itemscope,
		itemtype= htmlSchema,
		data-is-login!= login.toString(),
		data-me-id= login ? me.id : null)

	head(prefix='og: http://ogp.me/ns#')
		// Global meta data
		meta(charset='utf-8')
		meta(name='robots', content='all')
		meta(name='application-name', content='Misskey')
		meta(name='theme-color', content= config.themeColor)
		meta(name='google-site-verification', content='0KUjKH7EJj28VnWKm0p_Uo1bc6i3ldPNQOHvjxlvnm4')
		meta(name='coverage', content='worldwide')
		
		// Page-specific meta data
		block meta
		
		title
			block title
		
		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='icon', href='/favicon.ico')
		link(rel='manifest', href='/manifest.json')
		link(rel='help', href='/help')
		link(rel='search', href='/search')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/resources/desktop/styles/common/ui.css')
		script!= 'var CONFIG = config = ' + JSON.stringify(config) + '; Object.freeze(CONFIG);'
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='/resources/desktop/scripts/common/ui.js')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-57628372-1', 'auto');
			ga('send', 'pageview');
		
		block assets
	
	body
		if login
			div#misskey-post-form-back(role='presentation')
			div#misskey-post-form-container
				div#misskey-post-form(role='form')
					button.close-button(type='button', role='button')
						i.fa.fa-times
					ul#misskey-post-form-tabs
						li(data-ref='misskey-post-form-status-tab-page', title='近況')
							i.fa.fa-comment-o
						li(data-ref='misskey-post-form-photo-status-tab-page', title='画像付き投稿')
							i.fa.fa-picture-o
						li(data-ref='misskey-post-form-video-status-tab-page', title='動画付き投稿')
							i.fa.fa-film
						li(data-ref='misskey-post-form-audio-status-tab-page', title='音声付き投稿')
							i.fa.fa-music
						li(data-ref='misskey-post-form-poll-tab-page', title='投票')
							i.fa.fa-pie-chart
					div#misskey-post-form-tab-pages
						form#misskey-post-form-status-tab-page
							textarea(name='text', placeholder='What\'s up?', role='textbox', aria-multiline)
							button.submit(type='submit')
								| Update
								i.fa.fa-paper-plane
						form#misskey-post-form-photo-status-tab-page
							textarea(name='text', placeholder='What\'s up?', role='textbox', aria-multiline)
							button.attach-from-local.ui-waves-effect(type='button', role='button')
								i.fa.fa-upload
								| PCから画像を添付
							button.attach-from-album.ui-waves-effect(type='button', role='button')
								i.fa.fa-folder-open
								| アルバムから画像を添付
							button.submit(type='submit')
								| Update
								i.fa.fa-paper-plane
						form#misskey-post-form-video-status-tab-page
							p coming soon
						form#misskey-post-form-audio-status-tab-page
							p coming soon
						form#misskey-post-form-poll-tab-page
							p coming soon
					
		header#misskey-main-header(role='banner')
			img(src='/resources/desktop/images/notices-loading.gif', alt='', style='display: none;')
			if config.env == 'development'
				p.env-development-info
					strong
						em 開発チャンネル
						| を利用しています。
					| このチャンネルでは開発中の機能・デザインなどをいち早く利用できますが、不具合が存在する場合があります。
					em.go-production-channel
						a(href= config.productionChannelUrl)
							i.fa.fa-angle-right
							| 安定チャンネル
			div.main
				div.main-contents-container
					if login
						div.left
							nav
								div.misskey-menu
									div.dropdown(data-active='false')
										div.dropdown-header(role='button')
											p
												i.fa.fa-headphones
										div.dropdown-content
											ul
												li: a.ui-waves-effect(href= '/about')
													i.fa.fa-info-circle
													| About Misskey
												li: a.ui-waves-effect(href= '/help')
													i.fa.fa-question-circle
													| Help
											ul
												li: a.ui-waves-effect(href= '/syuilo')
													i.fa.fa-check-circle
													| @syuilo
												li: a.ui-waves-effect(href= '/misskey')
													i.fa.fa-check-circle
													| @misskey
											ul
												li: a.ui-waves-effect(href= '/about/donate')
													i.fa.fa-heart
													| Donate
											ul
												li: a.ui-waves-effect(href= 'https://github.com/syuilo/Misskey')
													i.fa.fa-github
													| Github repository
												li: a.ui-waves-effect(href= config.developmentChannelUrl)
													i.fa.fa-wrench
													| Development Channel
												li: a.ui-waves-effect(href= 'http://dev.misskey.xyz')
													i.fa.fa-terminal
													| Developers Center
													
								div.main-nav
									button(role='button').misskey Misskey
									ul
										li.home(class= pagePath == '/' ? 'active' : ''): a.ui-waves-effect(href='/')
											i.fa.fa-home
											p Home
										li.mention(class= pagePath == '/i/mentions' ? 'active' : ''): a.ui-waves-effect(href='/i/mentions')
											i.fa.fa-at
											p Mentions
										li.talk(class= pagePath == '/i/talks' ? 'active' : ''): a.ui-waves-effect(href='/i/talks')
											i.fa.fa-comments
											p Talks
										li.mention(class= pagePath == '/i/album' ? 'active' : ''): a.ui-waves-effect(href='/i/album')
											i.fa.fa-cloud
											p Album
						div.right
							form.search(action='/search', method='get', role='search')
								input(type='search', name='q', placeholder!='&#xf002; Search')
								input(type='hidden', name='type', value='general')
								input(type='hidden', name='ref', value='header')
								div.result
							div.account
								div.dropdown(data-active='false')
									div.dropdown-header(role='button')
										span.screen-name
											=me.screenName
											i.fa.fa-angle-down
										img.icon(src= me.iconUrl, alt='icon')
									div.dropdown-content
										ul
											li: a.ui-waves-effect(href= url + '/' + me.screenName)
												i.fa.fa-laptop
												| My page
										ul
											li: a.ui-waves-effect(href='/i/apps')
												i.fa.fa-plug
												| Plugins
											li: a.ui-waves-effect(href='/i/settings')
												i.fa.fa-cog
												| Settings
										ul
											li: a.ui-waves-effect(href='/logout')
												i(class='fa fa-power-off')
												| Sign out
							div.notices
								div.dropdown(data-active='false')
									div.dropdown-header(role='button')
										p
											i.fa.fa-envelope
									div.dropdown-content
										div.nav
											select.filter-type(title='表示を絞り込み')
												option(value='all') すべて
												option(value='self-notice') self-notice
												option(value='follow') 被フォロー
												option(value='status-favorite') つぶやきの被お気に入り
												option(value='status-repost') つぶやきの被Repost
											button.delete-all-button(title='全ての通知を削除')
												i.fa.fa-trash-o
										div.main
							div.post
								button#misskey-post-button(role='button', title='新しい投稿を作成')
									i.fa.fa-pencil-square-o
							div.time
								div.dropdown(data-active='false')
									div.dropdown-header(role='button')
										time.now(datetime= Date.now())
											= moment().format('YYYY/MM/DD')
											br
											= moment().format('HH:mm')
									div.dropdown-content
										canvas.clock#misskey-main-clock-canvas(width='256', height='256')
					else
						div.left
							nav
								div.mainNav
									button(role='button').misskey Misskey
									ul
										li.home: a.ui-waves-effect(href='/')
											i.fa.fa-home
											| エントランス
										li.mention(class= pagePath == '/bbs' ? 'active' : ''): a.ui-waves-effect(href='/bbs')
											i.fa.fa-users
											| Boards

		div.grobal-container.contents
			block body
