include ./content

mixin repost-form(post)
	div.repost-form
		div.background
		form.form
			h2
				i.fa.fa-retweet
				| この投稿をRepostしますか？
			article(class=post.type)
				a.avatar-anchor(href='/' + post.user.screenName, title= userTitle, rel='avatar')
					img.avatar(src=post.user.avatarThumbnailUrl, alt='avatar')
				header.header
					a.name(href='/' + post.user.screenName, target='_blank', rel='author')= post.user.name
					if post.user.isVerified
						img.verified-icon(src='/resources/common/images/verified.png', alt='verified', title='認証済み')
					span.screen-name= '@' + post.user.screenName
					a.time-anchor(href='/' + post.user.screenName + '/' + post.id, itemprop='url')
						time(datetime=post.createdAt, itemprop='dateCreated', pubdate, data-display-type='relative')= post.createdAt
				div.content(itemprop='articleBody')
					+content(post)
			div.actions
				button.accept(type='submit')
					i.fa.fa-check
					p Repost
				button.cancel(type='button')
					i.fa.fa-ban
					p キャンセル
