extends ../../../../ui

block title
	= folder.name

block header
	i.fa.fa-folder-open
	= folder.name

block action
	a.action(href= config.url + '/i/upload?folder=' + folder.id): i.fa.fa-upload

block nav-extend
	div#album-extended-nav
		p.caption
			i.fa.fa-angle-down
			= locale.sites.mobile.pages._i._album.extended_nav
		button.button.rename-folder
			i.fa.fa-pencil
			= locale.sites.mobile.pages._i._album._folder.rename
		button.button.move-folder
			i.fa.fa-paper-plane-o
			= locale.sites.mobile.pages._i._album._folder.move
		button.button.delete-folder
			i.fa.fa-trash
			= locale.sites.mobile.pages._i._album._folder.delete
		div.separator
		button.button.create-folder
			i.fa.fa-plus
			= locale.sites.mobile.pages._i._album.create_folder

block assets
	if choose !== undefined && choose !== null
		script!= 'var CHOOSE = "' + choose + '"; Object.freeze(CHOOSE);'
	else
		script!= 'var CHOOSE = null; Object.freeze(CHOOSE);'
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var FOLDER = ' + JSON.stringify(folder) + '; Object.freeze(FOLDER);') + '"));'

block content
	if choose === 'folder'
		p#plz-choose-folder
			i.fa.fa-info-circle
			= locale.sites.mobile.pages._i._album.plz_choose_folder
	nav#nav
		ol.items
			li.root
				if choose != undefined && choose != null
					a(href= '/i/album?choose=' + choose)
						i.fa.fa-cloud
						= locale.sites.mobile.pages._i._album.nav_root
				else
					a(href='/i/album')
						i.fa.fa-cloud
						= locale.sites.mobile.pages._i._album.nav_root
			if folder.parent != null
				mixin x(folder)
					if folder.parent != null
						+x(folder.parent)
					li.separator: i.fa.fa-angle-right
					li.folder
						if choose != undefined && choose != null
							a(href='/i/album/folder/' + folder.id + '?choose=' + choose)= folder.name
						else
							a(href='/i/album/folder/' + folder.id)= folder.name
				+x(folder.parent)
			li.separator: i.fa.fa-angle-right
			li.folder
				= folder.name
	div.up-and-new-folder-nav
		div.body
			- var parentUrl = folder.parent != null ? '/i/album/folder/' + folder.parent.id : '/i/album';
			- if (choose !== undefined && choose !== null) { parentUrl += '?choose=' + choose; }
			a#up(href= parentUrl)
				p
					i.fa.fa-level-up.fa-flip-horizontal
					| ..
			button.new-folder
				i.fa.fa-plus
	div#loading.
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>

	ol#folders
	ol#files
	
	p#no-files
		= locale.sites.mobile.pages._i._album.no_files
	
	button#load-more
		= locale.sites.mobile.pages._i._album.load_more

	if choose === 'folder'
		div#choose-folder
			button#choose-folder-button
				i.fa.fa-check
				= locale.sites.mobile.pages._i._album.choose_folder
