extends ./base

block body
	div#misskey-keyboard-shortcut-stacks

	if login
		div#misskey-post-form-back(role='presentation')
		div#misskey-post-form-container
			div#misskey-post-form(role='form')
				button.close-button(type='button')
					i.fa.fa-times
				ul#misskey-post-form-tabs
					li(data-ref='status', title=locale.sites.desktop.common.post_form.status_tab)
						i.fa.fa-comment-o
					li(data-ref='poll', title=locale.sites.desktop.common.post_form.poll_tab)
						i.fa.fa-pie-chart
				div#misskey-post-form-tab-pages
					form#misskey-post-form-status-tab-page(data-name='status')
						textarea(name='text', placeholder='What\'s up?', aria-multiline='true', tabindex='1')
						ol.photos
						ol.uploads
						div.attach-actions
							button.attach-from-local(type='button', title=locale.sites.desktop.common.post_form.attach_file_from_pc, tabindex='3')
								i.fa.fa-upload
							button.attach-from-album(type='button', title=locale.sites.desktop.common.post_form.attach_file_from_album, tabindex='4')
								i.fa.fa-folder-open
						input(name='file', type='file', accept='image/*', multiple, tabindex='-1')
						button.submit(type='submit', tabindex='2')
							p Update
							i.fa.fa-paper-plane
					form#misskey-post-form-poll-tab-page(data-name='poll')
						p coming soon

	div#misskey-global
		if !noui
			header#misskey-header
				if login && me.isSuspended
					- var text = locale.sites.desktop.common.account_suspended
					-   .replace('<link>', '<a href="' + config.helpUrl + '/account-suspended">')
					-   .replace('</link>', '</a>');
					p.account-suspended!=text
				div.main
					div.main-contents-container
						div.left
							nav
								div.misskey-menu
									div.dropdown.right(data-active='false')
										div.dropdown-header(role='button')
											div.hamburger
												span.bar
												span.bar
												span.bar
										div.dropdown-content
											ul
												li: a.ui-waves-effect(href= '/')
													i.fa.fa-info-circle
													| About Misskey
													i.fa.fa-angle-right
												li: a.ui-waves-effect(href= config.helpUrl)
													i.fa.fa-question-circle
													| Help
													i.fa.fa-angle-right
											ul
												li: a.ui-waves-effect(href= config.url + '/syuilo')
													i.fa.fa-check-circle
													| @syuilo
													i.fa.fa-angle-right
												li: a.ui-waves-effect(href= config.url + '/misskey')
													i.fa.fa-check-circle
													| @misskey
													i.fa.fa-angle-right
											ul
												li: a.ui-waves-effect(href= config.url + '/about/donate')
													i.fa.fa-heart
													| Donate
													i.fa.fa-angle-right
											ul
												li: a.ui-waves-effect(href='https://github.com/MissKernel/Misskey')
													i.fa.fa-github
													| Github repository
													i.fa.fa-angle-right
												li: a.ui-waves-effect(href= config.developerCenterUrl)
													i.fa.fa-terminal
													| Developers Center
													i.fa.fa-angle-right

								div.main-nav
									ul
										if login
											li.home(class= pagePath == '/' ? 'active' : ''): a(href= config.url)
												i.fa.fa-home
												p= locale.sites.desktop.common.header.home
											li.mentions(class= pagePath == '/i/mentions' ? 'active' : ''): a(href= config.url + '/i/mentions')
												i.fa.fa-at
												p= locale.sites.desktop.common.header.mentions
											li.talks(class= pagePath == '/i/talks' ? 'active' : ''): a(href= config.talkUrl)
												i.fa.fa-comments
												p= locale.sites.desktop.common.header.talks
											li.album(class= pagePath == '/i/album' ? 'active' : ''): a(href= config.url + '/i/album')
												i.fa.fa-cloud
												p= locale.sites.desktop.common.header.album
						div.right
							form.search(action= config.searchUrl, method='get', role='search')
								input(type='search', name='q', placeholder!='&#xf002; ' + locale.sites.desktop.common.header.search_placeholder)
								div.result
							if login
								div.account
									div.dropdown.left(data-active='false')
										div.dropdown-header(role='button')
											span.screen-name
												= me.screenName
												i.fa.fa-angle-down
											img.avatar(src= me.avatarThumbnailUrl, alt='avatar')
										div.dropdown-content
											ul
												li: a.ui-waves-effect(href= config.url + '/' + me.screenName)
													i.fa.fa-user
													=locale.sites.desktop.common.header.profile_page
													i.fa.fa-angle-right
												li: a.ui-waves-effect(href= config.url + '/' + me.screenName + '/likes')
													i.fa.fa-star
													| Likes
													i.fa.fa-angle-right
											ul
												li: a.ui-waves-effect(href= config.url + '/i/settings')
													i.fa.fa-cog
													=locale.sites.desktop.common.header.settings
													i.fa.fa-angle-right
											ul
												li: a.ui-waves-effect(href= config.signoutUrl)
													i(class='fa fa-power-off')
													=locale.common.sign_out
													i.fa.fa-angle-right
								div.notifications
									div.dropdown.left(data-active='false')
										div.dropdown-header(role='button')
											p
												i.fa.fa-bell
										div.dropdown-content
											div.nav
												select.filter-type(title='表示を絞り込み')
													option(value='all') すべて
													option(value='self-notification') self-notification
													option(value='follow') 被フォロー
													option(value='like') Like
													option(value='repost') Repost
												button.delete-all-button(title=locale.sites.desktop.common.header.delete_all_notifications)
													i.fa.fa-trash-o
											div.main
								div.post
									button#misskey-post-button(title=locale.sites.desktop.common.header.create_new_post_button_tooltip)
										i.fa.fa-pencil-square-o
							div.time
								div.dropdown(data-active='false')
									div.dropdown-header(role='button')
										time.now(datetime= Date.now())
									div.dropdown-content
										canvas.clock#misskey-main-clock-canvas(width='256', height='256')

		div#misskey-contents
			block content

	article#misskey-keyboard-shortcuts
		h1
			i.fa.fa-keyboard-o
			=locale.sites.desktop.common.keyboard_shortcuts.title
		dl
			dt
				kbd: kbd ?
				=locale.sites.desktop.common.keyboard_shortcuts.or
				kbd: kbd h
			dd=locale.sites.desktop.common.keyboard_shortcuts.show_this_dialog

			dt
				kbd: kbd p
				=locale.sites.desktop.common.keyboard_shortcuts.or
				kbd: kbd n
			dd=locale.sites.desktop.common.keyboard_shortcuts.open_post_form

			dt
				=locale.sites.desktop.common.keyboard_shortcuts.while_opening_post_form
				kbd: kbd Esc
			dd=locale.sites.desktop.common.keyboard_shortcuts.close_post_form

			block shortcuts
