extends ../../../base

block title
	| トーク
		
block body
	div#search(role='search')
		div.form
			label(for='search-input')
				i.fa.fa-search
			input#search-input(type='search', placeholder='ユーザーを探してトークを開始', title='ユーザー名を入力してユーザーを探します')
		div.result
	main(role='main')
		if messages != null && messages.length > 0
			ol#talks
				each message in messages
					case message.type
						when 'user-message'
							+user-message(message)
						when 'group-message'
							+group-message(message)
		else
			p#empty-histories
				| 履歴はありません。
				br
				| ユーザーを検索して、いつでもトークを開始できます。
	nav#nav
		ul
			li.active: a
				i.fa.fa-clock-o
				p 履歴
			li: a
				i.fa.fa-user
				p ユーザー
			li: a
				i.fa.fa-users
				p グループ
			li: a(href='i/group/create')
				i.fa.fa-plus
				p グループを作成

mixin user-message(message)
	if message.user.id == me.id
		li.talk.user(data-is-my-message='true')
			a(href= config.talkUrl + '/' + message.recipient.screenName)
				article
					img.avatar(src= message.recipient.avatarUrl + '?mini', alt='avatar')
					header
						h2= message.recipient.name
						span.screenName= '@' + message.recipient.screenName
						time(datetime=message.createdAt, data-display-type='relative')= message.createdAt
					p.text
						span.me あなた:
						= message.text
					if message.file
						img.image(src= message.file.url, alt='image')
	else
		- var unread = (message.user.id != me.id && !message.isRead);
		li.talk.user(
				data-is-my-message='false',
				data-is-unread!= unread.toString())
			a(href= config.talkUrl + '/' + message.user.screenName)
				article(style= unread ? {'background-image': 'url("' + config.resourcesUrl + '/desktop/pages/i/talks/unread.svg")'} : {})
					img.avatar(src= message.user.avatarUrl + '?mini', alt='avatar')
					header
						h2= message.user.name
						span.screen-name= '@' + message.user.screenName
						time(datetime=message.createdAt, data-display-type='relative')= message.createdAt
					p.text= message.text
					if message.file
						img.image(src= message.file.url, alt='image')

mixin group-message(message)
	- var unread = (message.user.id != me.id && message.reads.indexOf(me.id) == -1);
	li.talk.group(
			data-is-my-message='false',
			data-is-unread!= unread.toString())
		a(href= config.talkUrl + '/' + message.user.screenName)
			article(style= unread ? {'background-image': 'url("' + config.resourcesUrl + '/desktop/pages/i/talks/unread.svg")'} : {})
				img.icon(src= message.user.avatarUrl + '?mini', alt='icon')
				header
					h2= message.group.name
					span.members-count= message.group.members.length + '人の参加者'
					time(datetime=message.createdAt, data-display-type='relative')= message.createdAt
				p.text= message.text
				if message.file
					img.image(src= message.file.url, alt='image')
