include ../content

mixin subPost(post)
	- var userTitle = post.user.comment != null ? post.user.comment : '@' + post.user.screenName;
	aside.sub-post(class!= attributes.class !== undefined ? attributes.class + ' ' + post.type : post.type
			title= post.createdAt
			data-id= post.id)
		a.avatar-anchor(href= config.url + '/' + post.user.screenName, title= userTitle, data-user-card=post.user.screenName)
			img.avatar(src= post.user.avatarUrl + '?size=48&quality=' + userSettings.displayImageQuality, alt='avatar')
		header
			if userSettings.displayUserNameInPost
				a.name(href= config.url + '/' + post.user.screenName)= post.user.name
				if post.user.isVerified
					img.verified-icon(src= config.urls.resources + '/common/verified.png', alt='verified', title=locale.common.verified)
			if userSettings.displayUserScreenNameInPost
				span.screen-name= post.user.screenName
			if userSettings.displayCreatedAtInPost
				a.time-anchor(href= config.url + '/' + post.user.screenName + '/' + post.id)
					time(datetime= post.createdAt, pubdate, data-display-type='relative')= post.createdAt
		div.main
			+content(post)
