extends ../../ui
include ../../common/views/post/detail/post

block title
	= user.name + 'さんの' + post.createdAt + 'の投稿'

block meta
	meta(name='keywords', content='Misskey')
	meta(name='description', content= user.name + 'さんの' + post.createdAt + 'の投稿')
	meta(property='og:title', content= user.name + 'さんの投稿')
	meta(property='og:type', content='article')
	meta(property='og:description', content= summary)
	meta(property='og:url', content= config.url + '/' + user.screenName + '/' + post.id)
	meta(property='og:image', content= user.avatarUrl)
	meta(property='og:site_name', content='Misskey')
	meta(property='twitter:card', content='summary')
	meta(property='twitter:site', content='@syuilo')
	meta(property='twitter:title', content= user.name + 'さんの投稿')
	meta(property='twitter:description', content= summary)
	meta(property='twitter:image', content= user.avatarUrl)
	meta(property='twitter:url', content= config.url + '/' + user.screenName + '/' + post.id)

block assets
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var USER = ' + JSON.stringify(user) + '; Object.freeze(USER);') + '"));'
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var POST = ' + JSON.stringify(post) + '; Object.freeze(POST);') + '"));'
	script!= 'var NEXT_ID = "' + post.nextPost + '";'
	script!= 'var PREV_ID = "' + post.prevPost + '";'

block content
	main(role='main')

		if post.nextPost !== null
			a#next(href=config.url + '/' + user.screenName + '/' + post.nextPost, title='この次の投稿'): i.fa.fa-chevron-up
		else
			p#no-next
				i.fa.fa-info-circle
				| これより新しい投稿はありません。

		div#post
			+post(post)

		if post.prevPost !== null
			a#prev(href=config.url + '/' + user.screenName + '/' + post.prevPost, title='この前の投稿'): i.fa.fa-chevron-down
		else
			p#no-prev
				i.fa.fa-info-circle
				| これより古い投稿はありません。
