doctype html

!= '<!-- Thank you for using Misskey! <3 @syuilo -->'

- var htmlSchema = 'http://schema.org/WebPage';

block vars

html(
		lang=lang,
		dir='ltr',
		itemscope,
		itemtype= htmlSchema)
		
	- var setScript = function (name, val) {
	-   return 'var ' + name + '=' + val + ';Object.freeze(' + name + ');';
	- }
	- var escapeScript = function (name, val) {
	-   return 'eval(decodeURIComponent("' + encodeURIComponent('var ' + name + '=' + val + ';Object.freeze(' + name + ');') + '"));';
	- }

	head(prefix='og: http://ogp.me/ns#')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='robots', content='all')
		meta(name='application-name', content='Misskey')
		meta(name='theme-color', content= config.themeColor)
		meta(name='google-site-verification', content='0KUjKH7EJj28VnWKm0p_Uo1bc6i3ldPNQOHvjxlvnm4')
		meta(name='coverage', content='worldwide')
		meta(name='canonical', content= config.url + pagePath)
		meta(name='referrer', content='origin')
		meta(name='format-detection', content='telephone=no')
		meta(name='csrf-token', content= csrftoken)
		block root-meta
		title
			block title
		script!= 'document.domain = \'' + config.host + '\';'
		link(rel='shortcut icon', href= config.url + '/favicon.ico')
		link(rel='icon', href= config.url + '/favicon.ico')
		link(rel='image_src', href= config.url + '/favicon.ico')
		link(rel='apple-touch-icon', sizes='120x120', href= config.resourcesUrl + '/common/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href= config.resourcesUrl + '/common/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='180x180', href= config.resourcesUrl + '/common/apple-touch-icon-180x180.png')
		link(rel='manifest', href= config.url + '/manifest.json')
		link(rel='help', href= config.helpUrl, title='Misskey help')
		link(rel='search', href= config.searchUrl, title=' Misskey search')
		link(rel='dns-prefetch', href= config.resourcesUrl)
		link(rel='dns-prefetch', href= config.webApiUrl)
		link(rel='dns-prefetch', href= config.searchUrl)
		link(rel='dns-prefetch', href= config.talkUrl)
		link(rel='dns-prefetch', href= config.apiUrl)
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet', href= stylePath)
		script!= setScript('CONFIG', JSON.stringify(config))
		script!= setScript('LANG', '"' + lang + '"')
		script!= setScript('NOUI', noui.toString())
		script!= setScript('LOGIN', login.toString())
		script!= escapeScript('ME', JSON.stringify(me))
		script!= escapeScript('USER_SETTINGS', JSON.stringify(userSettings))
		script!= setScript('LOCALE', JSON.stringify(locale))
		script(src= scriptPath)
		script(type='application/ld+json').
			{
			  "@context": "http://schema.org",
			  "@type": "WebSite",
			  "url": "#{config.url}",
			  "potentialAction": {
			    "@type": "SearchAction",
			    "target": "#{config.searchUrl}?q={q}",
			    "query-input": "required name=q"
			  }
			}
		block assets
	
	body
		block root-body
		
		!= '<!-- このセッションは ' + workerId + ' が担当しました -->'
