include ../content
include ../repost-form
include ./sub-post

mixin post(post)
	if post.type == 'repost'
		+core(post.post, true, post)
	else
		+core(post, false)

mixin core(post, isRepost, repost)
	- var login = (me != null);
	- var isHaveReplies = (post.repliesCount > 0);
	- var isTalk = (post.type == 'reply' && post.inReplyToPost != null && post.inReplyToPost.inReplyToPost != null);
	- var userTitle = post.user.comment != null ? post.user.comment : '@' + post.user.screenName;
	article.post(
			class                   = isRepost ? 'repost ' + post.type : post.type
			tabindex                = '-1'
			lang                    = post.user.lang
			title                   = post.createdAt
			itemscope
			itemtype                = 'http://schema.org/BlogPosting'
			data-id                 = post.id
			data-cursor             = isRepost ? repost.cursor : post.cursor
			data-type               = post.type
			data-is-liked          != login ? post.isLiked.toString() : null
			data-is-reposted       != login ? post.isReposted.toString() : null
			data-is-have-replies   != isHaveReplies.toString()
			data-is-talk           != isTalk.toString())
		if isHaveReplies
			i.fa.fa-ellipsis-v.replies-ellipsis
		if post.type == 'reply'
			if isTalk
				i.fa.fa-ellipsis-v.talk-ellipsis
				div.talk
			+subPost(post.inReplyToPost)(class='reply-source')
		if isRepost
			- var reposterTitle = repost.user.comment != null ? repost.user.comment : '@' + repost.user.screenName;
			p.repost-info
				a.avatar-anchor(href= config.url + '/' + repost.user.screenName, title= reposterTitle)
					img.avatar(src= repost.user.avatarThumbnailUrl, alt='avatar')
				i.fa.fa-retweet
				| Reposted by 
				a.name(href= config.url + '/' + repost.user.screenName)= repost.user.name
		div.main
			div.avatar-area
				a.avatar-anchor(href= config.url + '/' + post.user.screenName, title= userTitle, rel='avatar')
					img.avatar(src= post.user.avatarThumbnailUrl, alt='avatar')
			header
				div.author(itemprop='author')
					if userSettings.displayUserNameInPost
						a.name(href= config.url + '/' + post.user.screenName, rel='author')= post.user.name
						if post.user.isVerified
							img.verified-icon(src= config.resourcesUrl + '/common/verified.png', alt='verified', title=locale.common.verified)
					if userSettings.displayUserScreenNameInPost
						span.screen-name= post.user.screenName
				div.right
					if post.app != null
						a.via-anchor
							p.via
								span.caption via
								b.app-name= post.app.name
					if userSettings.displayCreatedAtInPost
						a.time-anchor(href= config.url + '/' + post.user.screenName + '/' + post.id, itemprop='url')
							time(datetime= post.createdAt, itemprop='dateCreated', pubdate, data-display-type='relative')= post.createdAt
			div.content(itemprop='articleBody')
				+content(post)
		footer
			if userSettings.displayActionsInPost
				ul.actions
					li.reply
						button(title=locale.sites.desktop.common.post.send_reply)
							i.fa.fa-reply
						a.count(href= config.url + '/' + post.user.screenName + '/' + post.id)
							= post.repliesCount != 0 ? post.repliesCount : ''
					li.repost
						button(title= post.isReposted ? 'シェアを取り消し' : 'シェア')
							i.fa.fa-retweet
						a.count(href= config.url + '/' + post.user.screenName + '/' + post.id + '/reposts')
							= post.repostsCount != 0 ? post.repostsCount : ''
					li.like
						button(title= post.isLiked ? 'Unlike' : 'Like')
							if userSettings.enableSushi
								i.fa
									| 🍣
							else
								i.fa.fa-star
						a.count(href= config.url + '/' + post.user.screenName + '/' + post.id + '/likes')
							= post.likesCount != 0 ? post.likesCount : ''
		if login
			form.reply-form
				img.me-avatar(src= me.avatarThumbnailUrl, alt='avatar')
				div.form
					textarea(name='text', placeholder=locale.sites.desktop.common.post.reply_form_textarea_placeholder, aria-multiline='true')= '@' + post.user.screenName + ' '
					div.design-allow(role='presentation')
					ol.photos
					ol.uploads
					button.submit-button.ui-button(type='submit')
						=locale.sites.desktop.common.post.send_reply
						i.fa.fa-reply
					button.attach-from-local(type='button', title=locale.sites.desktop.common.post.attach_file_from_pc)
						i.fa.fa-upload
					button.attach-from-album(type='button', title=locale.sites.desktop.common.post.attach_file_from_album)
						i.fa.fa-folder-open
					input(name='file', type='file', accept='image/*', multiple)
		div.replies(itemprop='comment')
		if login && me.id != post.userId
			+repost-form(post)
