include ../content

mixin subPost(post)
	- var userTitle = post.user.comment != null ? post.user.comment : '@' + post.user.screenName;
	aside.sub-post(class!= attributes.class !== undefined ? attributes.class + ' ' + post.type : post.type
			title= post.createdAt
			data-id= post.id)
		a.avatar-anchor(href='/' + post.user.screenName, title= userTitle)
			img.avatar(src=post.user.avatarUrl + '?mini', alt='avatar')
		header
			if post.user.isVerified
				img.verified-icon(src='/resources/common/images/verified.png', alt='verified', title='認証済み')
			a.name(href='/' + post.user.screenName)= post.user.name
			span.screen-name= post.user.screenName
			a.time-anchor(href='/' + post.user.screenName + '/' + post.id)
				time(datetime=post.createdAt, pubdate, data-display-type='relative')= post.createdAt
		div.main
			+content(post)
