include ../../../common/views/talk/messages

doctype html

html(
		lang='ja'
		dir='ltr'
		data-me-id= me.id
		data-me-screen-name= me.screenName
		data-otherparty-id= otherparty.id
		data-otherparty-screen-name= otherparty.screenName
		data-otherparty-avatar-url= otherparty.avatarUrl)
	head
		include ../../../head
		title= 'トーク: ' + otherparty.name
		script(src= config.webStreamingUrl + '/socket.io/socket.io.js')
		
	body
		main
			div#stream
				if messages.length == 0
					p#empty-stream
						i.fa.fa-info-circle
						| このユーザーとまだ会話したことはありません
				div#messages
					+messages(messages)
				div#otherparty-status
			form#post-form
				textarea(name='text', placeholder='ここにメッセージを入力')
				button(type='submit', title='メッセージを送信')
					i.fa.fa-paper-plane
				button.attach-from-local(type='button', title='PCから画像を添付する')
					i.fa.fa-upload
				button.attach-from-album(type='button', title='アルバムから画像を添付する')
					i.fa.fa-folder-open
				input(name='file', type='file', accept='image/*', multiple)
