include ../../../common/views/talk/messages

doctype html

html(
		lang='ja'
		dir='ltr'
		data-me-id= me.id
		data-me-screen-name= me.screenName
		data-otherparty-id= otherparty.id
		data-otherparty-screen-name= otherparty.screenName
		data-otherparty-avatar-url= otherparty.avatarUrl)
	head
		include ../../../head
		title= 'トーク: ' + otherparty.name
		script(src= config.webStreamingUrl + '/socket.io/socket.io.js')
		
	body
		main
			div#timeline
				div.timeline-container
					div.timeline-main
						div.talk-stream#stream
							if messages != null && messages.length != 0
								button#read-more(role='button') もっと読み込む
							else
								p#empty-stream
									i.fa.fa-info-circle
									| このユーザーとまだ会話したことはありません
							div.messages
								+messages(messages)
							div#otherparty-status
				div#post-form-container
					form#post-form
						textarea(name='text', placeholder='Message...')
						input.fa.fa-paper-plane(type='submit', value!='&#xf1d8;', title='メッセージを送信')
