extends ../../../../ui
include ../file-icon

block title
	= file.name

block header
	+file-icon(file)
	= file.name

block assets
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var FILE = ' + JSON.stringify(file) + '; Object.freeze(FILE);') + '"));'
	script!= 'eval(decodeURIComponent("' + encodeURIComponent('var FOLDER = ' + JSON.stringify(folder) + '; Object.freeze(FOLDER);') + '"));'

block action
	a.action(href= file.url + '?download', download= file.name): i.fa.fa-download

block content
	- function bytesToSize(bytes) {
	-    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
	-    if (bytes == 0) return '0Byte';
	-    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
	-    return Math.round(bytes / Math.pow(1024, i), 2) + sizes[i];
	- };
	
	nav#nav
		ol.items
			li.root
				a(href='/i/album')
					i.fa.fa-cloud
					= locale.sites.mobile.pages._i._album.nav_root
			if folder != null
				if folder.parent != null
					mixin x(folder)
						if folder.parent != null
							+x(folder.parent)
						li.separator: i.fa.fa-angle-right
						li.folder
							a(href='/i/album/folder/' + folder.id)= folder.name
					+x(folder.parent)
				li.separator: i.fa.fa-angle-right
				li.folder
					a(href='/i/album/folder/' + folder.id)= folder.name
			li.separator: i.fa.fa-angle-right
			li.file
				= file.name

	div#preview
		a(href= file.url)
			case file.mimeType
				when 'image/jpeg'
				when 'image/png'
				when 'image/gif'
				when 'image/webp'
				when 'image/tiff'
				when 'image/bmp'
					img(src= file.url, alt='')
				default
					i.fa.fa-file-o
		case file.mimeType
			when 'image/jpeg'
			when 'image/png'
			when 'image/gif'
			when 'image/webp'
			when 'image/tiff'
			when 'image/bmp'
				- var getGcd = function(a, b) { return (!b) ? a : getGcd(b, a % b); };
				- var gcd = getGcd(file.properties.width, file.properties.height);
				- var aspectRatioW = file.properties.width / gcd;
				- var aspectRatioH = file.properties.height / gcd;
				footer
					p.size
						span.width= file.properties.width
						span.time ×
						span.height= file.properties.height
						span.px px
					p.separator(role='presentation')
					p.aspect-ratio
						| (
						span.w= aspectRatioW
						span.colon :
						span.h= aspectRatioH
						| )
	div#info
		div.body
			p.mime-type
				+file-icon(file)
				= file.mimeType
			p.separator(role='presentation')
			p.data-size
				= bytesToSize(file.dataSize)
			p.separator(role='presentation')
			p.created-at
				i.fa.fa-clock-o
				time(datetime= file.createdAt, itemprop='dateCreated', pubdate, data-display-type='relative')
					= file.createdAt
			if file.isPrivate
				i.lock.fa.fa-lock
			else
				i.lock.fa.fa-unlock
	div#menu
		div.body
			a.button#download(href= file.url + '?download', download= file.name)
				i.fa.fa-download
				=locale.sites.mobile.pages._i._album._file.download
			button.button#rename
				i.fa.fa-pencil
				=locale.sites.mobile.pages._i._album._file.rename
			button.button#move
				i.fa.fa-folder-open
				=locale.sites.mobile.pages._i._album._file.move
			button.button#delete
				i.fa.fa-trash
				=locale.sites.mobile.pages._i._album._file.delete
	div#hash
		div.body
			p.caption
				i.fa.fa-hashtag
				= locale.sites.mobile.pages._i._album._file.hash
			code.hash= file.hash
	footer
