extends ../../../../base
include ../common

block title
	| トーク
		
block body
	div#search(role='search')
		div.form
			label(for='search-input')
				i.fa.fa-search
			input#search-input(type='search', placeholder='グループを検索', title='グループ名を入力してグループを探します')
		div.result
	main(role='main')
		if messages != null && messages.length > 0
			ol#talks
				each message in messages
					case message.type
						when 'user-message'
							+user-message(message)
						when 'group-message'
							+group-message(message)
						when 'group-send-invitation-activity'
							+group-send-invitation-activity(message)
		else
			p#empty-histories
				| 履歴はありません。
				br
				| グループを検索、またはグループへの招待を承諾して、トークに参加しましょう！
				br
				| もしくは、自分でグループを作成することもできます。
		if invitations != null && invitations.length > 0
			div#invitations
				h1
					| グループへの招待
					span.count= invitations.length
				each invitation in invitations
					div.invitation(data-id= invitation.id, data-group-id= invitation.group.id)
						article
							img.icon(src= invitation.group.iconUrl + '?mini', alt='icon')
							header
								h2= invitation.group.name
								span.members-count= invitation.group.members.length + '人の参加者'
								time(datetime=invitation.createdAt, data-display-type='relative')= invitation.createdAt
							div.body
								if invitation.text != null
									p.text= invitation.text
								else
									p.text.empty
										| 招待についてのメッセージはありません。
							footer
								button.decline
									i.fa.fa-ban
									| 断る
								button.accept
									i.fa.fa-check
									| 参加する

		else
			p#empty-invitations
				| 現在、あなた宛てのグループへの招待はありません。
	nav#nav
		ul
			li: a(href='/')
				i.fa.fa-clock-o
				p 履歴
			li: a(href='/i/users')
				i.fa.fa-user
				p ユーザー
			li.active: a
				i.fa.fa-users
				p グループ
			li: a(href='/i/group/create')
				i.fa.fa-plus
				p グループを作成
